img{
    border-style: solid;
    border-radius: 250px;
}
h1 {text-align: center;}

body {
    background-image: url('https://www.teahub.io/photos/full/0-2034_plain-white-wallpapers-1080p-is-cool-wallpapers-html.jpg');
    
    }